<launch>

    <!-- http://wiki.ros.org/tf#static_transform_publisher -->
    <node pkg="tf" type="static_transform_publisher" name="world_tf" output="screen" args="0.5 0.5 0.0 0.0 0.0 0.0 world base_link 1"/>


    <node pkg="robotics_base" name="robotics_base" type="robotics_base" output="screen">
        <param name="pose_name" type="string" value="/pose/end_effector"/>
    </node>



    <node name="rviz_visavis" pkg="rviz" type="rviz"
    args="-d $(find robotics_base)/rviz/robotics_base.rviz" respawn="false" />


</launch>
    
